.inputPesquisa-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $corPrimaria1;
  border-radius: 5px;
  input {
    width: 80vw;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $corPrimaria2;
  }
  .icone-pesquisa {
    margin-left: 10px;
    cursor: pointer;
  }
  @media screen and (min-width: $desktopBreakpoint) {
    input {
      height: 45px;
      width: 80vw;
    }
    .icone-pesquisa {
      margin-left: 20px;
      width: 35px;
      height: 35px;
      cursor: pointer;
    }
  }
}
