$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Ligth';

$corPrimaria1: rgb(78, 78, 249);
$corPrimaria2: rgb(107, 107, 112);
$corPrimaria3: rgb(214, 214, 219);
$branco: #fff;

$desktopBreakpoint: 992px;
