.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  background-color: white;

  .logo-container  {
    width: 60px;
    margin-bottom: 15px;
    cursor: pointer;
    img{
      width: 70px;
      height: 50px;
    }
  }

  .navegacao-container {
    .menu-deslogado{
      width: 50px;
      display: flex;
      gap: 25px;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:center;
      list-style: none;
      width: 200px;
      padding-right: 35px;
    }
.nome-usuario{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $corPrimaria1;
  width: 70px;
  height: 30px;
  border: 1px solid $corPrimaria1;
  border-radius: 10px;
  background-color: $branco;
  margin-left: -50px;
  margin-right: 5px;
}
.logout{
margin-left: 10px;
}
.cadastrar{
  margin-left: 1px;
 
}
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .logo-container span {
      width: 100%;
      height: auto;
      font-family: $fontBold;
      font-size: 32px;
      padding-left: 25px;
    }

    .navegacao-container {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      ul {
        width: 300px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
       
        li {
          font-size: 16px;
          font-family: $fontRegular;
          cursor: pointer;
          color: $corPrimaria2;
          &:hover {
            color: $corPrimaria1;
          }
        }
        
      }
    }
  }
}
